.register-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../../assets/Background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "Outfit", sans-serif;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.register-page-card {
    width: 420px;
    padding: 40px;

    backdrop-filter: blur(10px);
    background: rgba(140, 82, 255, 0.25);

    border-radius: 16px;
    border: 2px solid rgba(140, 0, 255, 0.3);

    text-align: center;
    color: white;
}

.logo {
    font-family: "Outfit", sans-serif;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 28px;

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.register-footer {
    margin-top: 25px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 17px;

    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.register-footer span {
    color: yellow;
    cursor: pointer;
    font-weight: bold;
}

.register-footer span:hover {
    opacity: 0.8;
}